[submodule "tests/deps/googletest"]
	path = tests/deps/googletest
	url = https://github.com/google/googletest.git
[submodule "src/freertos"]
	path = src/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
