menu "Modules Configuration"

# Blink Module
config MODULE_BLINK_ENABLE
    bool "Blink Module"
    default y

# Button Detector Module
config MODULE_BUTTON_DETECTOR_ENABLE
    bool "Button Detector Module"
    default y

# LED Controller Module
config MODULE_LED_CONTROLLER_ENABLE
    bool "LED Controller Module"
    default y

endmenu
