# Nucleo-G431RB Board Configuration
CONFIG_BOARD_NAME="NUCLEO-G431RB"

# LED Driver Configuration
CONFIG_DRIVER_LED_COUNT=1
CONFIG_HAS_DRIVER_LED_0=y
CONFIG_HAS_DRIVER_LED_1=n
CONFIG_HAS_DRIVER_LED_2=n

# LED0 Hardware Binding
CONFIG_BOARD_LED0_PORT_GPIOA=y
CONFIG_BOARD_LED0_PORT=0
CONFIG_BOARD_LED0_PIN=5
