menu "NUCLEO-G431RB Board Configuration"

config BOARD_NAME
    string "Board Name"
    default "NUCLEO_G431RB"

menu "LED Hardware Binding"
    depends on DRIVER_LED_COUNT > 0

config BOARD_LED0_PORT_GPIOA
    bool "LED0 GPIOA"
    default y

config BOARD_LED0_PORT_GPIOB
    bool "LED0 GPIOB"

config BOARD_LED0_PORT_GPIOC
    bool "LED0 GPIOC"

config BOARD_LED0_PORT
    int
    default 0 if BOARD_LED0_PORT_GPIOA
    default 1 if BOARD_LED0_PORT_GPIOB
    default 2 if BOARD_LED0_PORT_GPIOC
    default 3

config BOARD_LED0_PIN
    int "LED0 GPIO Pin Number"
    default 5
    range 0 15

config BOARD_HAS_LED0
    bool "LED0 Hardware Present"
    default y if HAS_DRIVER_LED_0
    help
        LED0 hardware is bound on this board.
        Controlled by DRIVER_LED_0 Kconfig option.

config BOARD_LED1_PORT_GPIOA
    bool "LED1 GPIOA"
    default y

config BOARD_LED1_PORT_GPIOB
    bool "LED1 GPIOB"

config BOARD_LED1_PORT_GPIOC
    bool "LED1 GPIOC"

config BOARD_LED1_PORT
    int
    default 0 if BOARD_LED1_PORT_GPIOA
    default 1 if BOARD_LED1_PORT_GPIOB
    default 2 if BOARD_LED1_PORT_GPIOC
    default 3

config BOARD_LED1_PIN
    int "LED1 GPIO Pin Number"
    default 10
    range 0 15

config BOARD_HAS_LED1
    bool "LED1 Hardware Present"
    default n
    help
        LED1 hardware is bound on this board.
        Controlled by DRIVER_LED_1 Kconfig option.

config BOARD_LED2_PORT_GPIOA
    bool "LED2 GPIOA"
    default y

config BOARD_LED2_PORT_GPIOB
    bool "LED2 GPIOB"

config BOARD_LED2_PORT_GPIOC
    bool "LED2 GPIOC"

config BOARD_LED2_PORT
    int
    default 0 if BOARD_LED2_PORT_GPIOA
    default 1 if BOARD_LED2_PORT_GPIOB
    default 2 if BOARD_LED2_PORT_GPIOC
    default 3

config BOARD_LED2_PIN
    int "LED2 GPIO Pin Number"
    default 15
    range 0 15

config BOARD_HAS_LED2
    bool "LED2 Hardware Present"
    default n
    help
        LED2 hardware is bound on this board.
        Controlled by DRIVER_LED_2 Kconfig option.

endmenu

menu "Button Hardware Binding"
    depends on DRIVER_BUTTON_COUNT > 0

config BOARD_BUTTON0_PORT_GPIOA
    bool "Button0 GPIOA"
    default n

config BOARD_BUTTON0_PORT_GPIOB
    bool "Button0 GPIOB"
    default n

config BOARD_BUTTON0_PORT_GPIOC
    bool "Button0 GPIOC"
    default y

config BOARD_BUTTON0_PORT
    int
    default 0 if BOARD_BUTTON0_PORT_GPIOA
    default 1 if BOARD_BUTTON0_PORT_GPIOB
    default 2 if BOARD_BUTTON0_PORT_GPIOC
    default 3

config BOARD_BUTTON0_PIN
    int "Button0 GPIO Pin Number"
    default 13
    range 0 15

config BOARD_BUTTON0_IRQn_EXTI0
    bool "Button0 EXTI0"
    default n

config BOARD_BUTTON0_IRQn_EXTI1
    bool "Button0 EXTI1"
    default n

config BOARD_BUTTON0_IRQn_EXTI2
    bool "Button0 EXTI2"
    default n

config BOARD_BUTTON0_IRQn_EXTI3
    bool "Button0 EXTI3"
    default n

config BOARD_BUTTON0_IRQn_EXTI4
    bool "Button0 EXTI4"
    default n

config BOARD_BUTTON0_IRQn_EXTI9_5
    bool "Button0 EXTI9_5"
    default n

config BOARD_BUTTON0_IRQn_EXTI15_10
    bool "Button0 EXTI15_10"
    default y

config BOARD_BUTTON0_IRQn
    int
    default 6 if BOARD_BUTTON0_IRQn_EXTI0       # EXTI0_IRQn
    default 7 if BOARD_BUTTON0_IRQn_EXTI1       # EXTI1_IRQn
    default 8 if BOARD_BUTTON0_IRQn_EXTI2       # EXTI2_IRQn
    default 9 if BOARD_BUTTON0_IRQn_EXTI3       # EXTI3_IRQn
    default 10 if BOARD_BUTTON0_IRQn_EXTI4      # EXTI4_IRQn
    default 23 if BOARD_BUTTON0_IRQn_EXTI9_5    # EXTI9_5_IRQn
    default 40 if BOARD_BUTTON0_IRQn_EXTI15_10  # EXTI15_10_IRQn
    default 40

config BOARD_HAS_BUTTON0
    bool "Button0 Hardware Present"
    default y if HAS_DRIVER_BUTTON_0
    help
        Button0 hardware is bound on this board.
        Controlled by DRIVER_BUTTON_0 Kconfig option.

config BOARD_BUTTON1_PORT_GPIOA
    bool "Button1 GPIOA"
    default n

config BOARD_BUTTON1_PORT_GPIOB
    bool "Button1 GPIOB"
    default n

config BOARD_BUTTON1_PORT_GPIOC
    bool "Button1 GPIOC"
    default n

config BOARD_BUTTON1_PORT
    int
    default 0 if BOARD_BUTTON1_PORT_GPIOA
    default 1 if BOARD_BUTTON1_PORT_GPIOB
    default 2 if BOARD_BUTTON1_PORT_GPIOC
    default 3

config BOARD_BUTTON1_PIN
    int "Button1 GPIO Pin Number"
    default 0
    range 0 15

config BOARD_BUTTON1_IRQn_EXTI0
    bool "Button1 EXTI0"
    default y

config BOARD_BUTTON1_IRQn_EXTI1
    bool "Button1 EXTI1"
    default n

config BOARD_BUTTON1_IRQn_EXTI2
    bool "Button1 EXTI2"
    default n

config BOARD_BUTTON1_IRQn_EXTI3
    bool "Button1 EXTI3"
    default n

config BOARD_BUTTON1_IRQn_EXTI4
    bool "Button1 EXTI4"
    default n

config BOARD_BUTTON1_IRQn_EXTI9_5
    bool "Button1 EXTI9_5"
    default n

config BOARD_BUTTON1_IRQn_EXTI15_10
    bool "Button1 EXTI15_10"
    default n

config BOARD_BUTTON1_IRQn
    int
    default 6 if BOARD_BUTTON1_IRQn_EXTI0       # EXTI0_IRQn
    default 7 if BOARD_BUTTON1_IRQn_EXTI1       # EXTI1_IRQn
    default 8 if BOARD_BUTTON1_IRQn_EXTI2       # EXTI2_IRQn
    default 9 if BOARD_BUTTON1_IRQn_EXTI3       # EXTI3_IRQn
    default 10 if BOARD_BUTTON1_IRQn_EXTI4      # EXTI4_IRQn
    default 23 if BOARD_BUTTON1_IRQn_EXTI9_5    # EXTI9_5_IRQn
    default 40 if BOARD_BUTTON1_IRQn_EXTI15_10  # EXTI15_10_IRQn
    default 6

config BOARD_HAS_BUTTON1
    bool "Button1 Hardware Present"
    default n
    help
        Button1 hardware is bound on this board.
        Controlled by DRIVER_BUTTON_1 Kconfig option.

config BOARD_BUTTON2_PORT_GPIOA
    bool "Button2 GPIOA"
    default n

config BOARD_BUTTON2_PORT_GPIOB
    bool "Button2 GPIOB"
    default n

config BOARD_BUTTON2_PORT_GPIOC
    bool "Button2 GPIOC"
    default n

config BOARD_BUTTON2_PORT
    int
    default 0 if BOARD_BUTTON2_PORT_GPIOA
    default 1 if BOARD_BUTTON2_PORT_GPIOB
    default 2 if BOARD_BUTTON2_PORT_GPIOC
    default 3

config BOARD_BUTTON2_PIN
    int "Button2 GPIO Pin Number"
    default 0
    range 0 15

config BOARD_BUTTON2_IRQn_EXTI0
    bool "Button2 EXTI0"
    default n

config BOARD_BUTTON2_IRQn_EXTI1
    bool "Button2 EXTI1"
    default n

config BOARD_BUTTON2_IRQn_EXTI2
    bool "Button2 EXTI2"
    default n

config BOARD_BUTTON2_IRQn_EXTI3
    bool "Button2 EXTI3"
    default n

config BOARD_BUTTON2_IRQn_EXTI4
    bool "Button2 EXTI4"
    default n

config BOARD_BUTTON2_IRQn_EXTI9_5
    bool "Button2 EXTI9_5"
    default n

config BOARD_BUTTON2_IRQn_EXTI15_10
    bool "Button2 EXTI15_10"
    default n

config BOARD_BUTTON2_IRQn
    int
    default 6 if BOARD_BUTTON2_IRQn_EXTI0       # EXTI0_IRQn
    default 7 if BOARD_BUTTON2_IRQn_EXTI1       # EXTI1_IRQn
    default 8 if BOARD_BUTTON2_IRQn_EXTI2       # EXTI2_IRQn
    default 9 if BOARD_BUTTON2_IRQn_EXTI3       # EXTI3_IRQn
    default 10 if BOARD_BUTTON2_IRQn_EXTI4      # EXTI4_IRQn
    default 23 if BOARD_BUTTON2_IRQn_EXTI9_5    # EXTI9_5_IRQn
    default 40 if BOARD_BUTTON2_IRQn_EXTI15_10  # EXTI15_15_IRQn
    default 6

config BOARD_HAS_BUTTON2
    bool "Button2 Hardware Present"
    default n
    help
        Button2 hardware is bound on this board.
        Controlled by DRIVER_BUTTON_2 Kconfig option.

endmenu

endmenu
