# Msghub configuration

menu "Message Hub Configuration"

config MSGHUB_MAX_TOPICS
	int "Maximum number of topics"
	default 8
	range 4 32
	help
	  Maximum number of unique topics that can be registered.

config MSGHUB_MAX_INSTANCES
	int "Maximum instances per topic"
	default 4
	range 1 16
	help
	  Maximum number of publisher instances per topic.

config MSGHUB_MAX_SUBSCRIBERS
	int "Maximum number of subscribers"
	default 16
	range 8 64
	help
	  Maximum total number of subscriber handles.

endmenu
